.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.body {
  max-height: 250px;
  overflow: auto;
  width: 100%;
}
.title {
  margin-bottom: 5px;
}